.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 42, 181);
  border-radius: 20px;
}
ul {
  list-style: none;
  margin-left: 5%;
  padding: 10px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
li {
  color: white;
  font-size: 16px;
}
